{% extends "layouts/base.html.twig" %}
{% block title %}Create new galaxy{% endblock %}
{% block app %}

    <h1>Create a new galaxy: </h1>

    {% include "views/Galaxy/_form.html.twig" %}

{% endblock %}
